@*@page "/ziren/cp/{marcaID:int}/{anoID:int}/{modeloID:int}/{provinciaID:int}"*@
@page "/ziren/cp"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager

@inject IJSRuntime JsRuntime
@using System.Text.Json;
<div class="row" style="margin:5px">
    <h3 style="color:white">Seleccione Codigo Postal</h3>
</div>
<div class="row" style="margin:5px">
    <label style="color:white;font-size: 0.8em;align-content:initial">Declarar código postal correcto ya que afecta al costo de tu seguro, para tener una cotización correcta 🤗</label>


</div>
<div class="row" style="margin:5px">
    <a href="https://codigopostal.com.ar" class="btn btn-info" target="_blank" style="align-self:initial;font-size:smaller">Saber mi Código Postal, Facil y Rapido</a>
</div>


<div class="row" style="margin:5px">
    <label style="color:white;font-size: 0.8em;align-content:initial; ">Tipee 4 digitos de su código postal o Localidad</label>
</div>
<div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
    <input @bind-value="oCpDescripcion" @bind-value:event="oninput"
           @onkeyup="@((KeyboardEventArgs e) => CPKeyUp(e))"
           type="text" class="form-control" id="cp" placeholder="C.P." />
</div>



@if (oCodigoPostalList.Count == 0 & oCpDescripcion.Trim().Length > 3)
{
    <label style="color:white">No hay registros para mostrar</label>

}
else
{



    <div style="display: flex; flex-wrap: wrap; align-items: center;">
        @foreach (var oCodigoPostal in oCodigoPostalList)
        {
            <div style="margin-right: 2%; margin-bottom: 10px; text-align: center;">
                <div>
                    <button type="button" class="btn btn-success" style="width:auto" @onclick="@(() => OnClickHandle(oCodigoPostal))">
                        @(oCodigoPostal.localidad +"(" + oCodigoPostal.codigoPostalID +")")
                    </button>
                </div>
            </div>
        }
    </div>



}




@code {
    private string oCpDescripcion = "";
    private string provinciaID = "";
    //private List<string> oCodigoPostalList;
    //private List<string> oCodigoPostalAuxList;
    private List<CodigoPostalDTO> oCodigoPostalList = new List<CodigoPostalDTO>();



    protected override async Task OnInitializedAsync()
    {
        string CotizacionAutoDTOJson = await JsRuntime.GetFromLocalStorage("CotizacionAutoDTO");
        CotizacionAutoDTO oCotizacionAutoDTO = JsonSerializer.Deserialize<CotizacionAutoDTO>(CotizacionAutoDTOJson);
        provinciaID = oCotizacionAutoDTO.asegurado.provinciaID;

        //var responseHttp = await repositorio.Get<List<string>>("api/Externo/Prudencia/catalogos/GetCodPostalesDistinct/" + oCotizacionAutoDTO.asegurado.provinciaID);
        //oCodigoPostalList = responseHttp.Response;
        //oCodigoPostalAuxList = responseHttp.Response;



    }
    private async Task OnClickHandle(CodigoPostalDTO codigoPostalDTO)
    {
        //Singleton.oCotizacionAutoDTO.asegurado.codigoPostal = ocodigoPostalID;
        string CotizacionAutoDTOJson = await JsRuntime.GetFromLocalStorage("CotizacionAutoDTO");
        CotizacionAutoDTO oCotizacionAutoDTO = JsonSerializer.Deserialize<CotizacionAutoDTO>(CotizacionAutoDTOJson);

        oCotizacionAutoDTO.asegurado.codigoPostal = codigoPostalDTO.codigoPostalID;
        oCotizacionAutoDTO.asegurado.localidad = codigoPostalDTO.localidad;

        CotizacionAutoDTOJson = JsonSerializer.Serialize(oCotizacionAutoDTO);
        await JsRuntime.SetInLocalStorage("CotizacionAutoDTO", CotizacionAutoDTOJson);
        Console.WriteLine(CotizacionAutoDTOJson);


        navigationManager.NavigateTo("/ziren/infopersonal");
    }
    private async Task CPKeyUp(KeyboardEventArgs e)
    {
        //int number;
        //bool Isnumber = Int32.TryParse(oCpDescripcion, out number);
        //if (!Isnumber)
        //{
        //    oCpDescripcion = string.Empty;
        //}

        if (oCpDescripcion.Trim().Length < 4)
            return;

        var responseHttp = await repositorio.Get<List<CodigoPostalDTO>>("api/Externo/Prudencia/catalogos/GetCpLocalidad/" + provinciaID + "/" + oCpDescripcion);
        List<CodigoPostalDTO> oCodigoPostalAuxList = responseHttp.Response;
        if (provinciaID == "1")
            oCodigoPostalAuxList = (List<CodigoPostalDTO>)oCodigoPostalAuxList.Take(1).ToList();
        oCodigoPostalList = oCodigoPostalAuxList;
        //oCodigoPostalAuxList = responseHttp.Response;


        //oCodigoPostalAuxList = (from c in oCodigoPostalList
        //                        where c.ToLower().Contains(oCpDescripcion.ToLower())
        //                        select c).ToList();
    }
}
