@page "/ziren/imagenes/{oCoberturaID:int}"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes
@inject IJSRuntime JsRuntime
@using System.Text.Json;
<h3 style="color:white">SUBA IMÁGENES DEL AUTO</h3>
<div class="container-fluid" style="display: block;display: flex;justify-content:center;align-items: center;align-content:center;margin-left:auto;margin-right:auto">
    <span style="color:white;font-size: 0.6em;align-content:initial;margin-bottom:10px">
        LAS FOTOS DEBEN SER TOMADAS COMO INDICA LA IMAGEN DE EJEMPLO. DEBEN SER TOMADAS CON BUENA ILUMINACION
        ( DE DIA O BUENA ILUMINACIÓN ARTIFICIAL), TODAS DE UN MISMO MOMENTO Y  LUGAR,ACTUALES DEL DIA DE LA FECHA .
        CON LAS VENTANILLAS CERRADAS (NO CON LAS VENTANILLAS BAJAS ).
        <br />
        PUEDES SELECCIONAR DE TU GALERÍA DE FOTOS O TOMAR LA FOTO. VERÁS LA IMAGEN SELECCIONADA Y UNA VEZ QUE APARECE EL BOTÓN SUBIR,
        LO PRESIONAMOS PARA TERMINAR DE CARGAR LA IMAGEN
    </span>
</div>
@if (oCotizacionAutoDTO == null)
{
    <Cargando></Cargando>
}
else
{
    <EditForm Model="oAdjuntos" OnValidSubmit="oOnValidSubmit">
        <DataAnnotationsValidator />

        <div class="container-fluid">
            @if (oCotizacionAutoDTO.vehiculo.es0KM == true)
            {
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="0" oLabelText="Factura" @key="0" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="1" oLabelText="Cert. Rodamiento" @key="1" />
            }
            else
            {
                <img src="/images/Cotizacion/front.png" alt="Fotos" style="display:block;margin:auto;width:33%" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="0" oLabelText="Parte Delantera" @key="0" />

                <img src="/images/Cotizacion/back.png" alt="Fotos" style="display:block;margin:auto;width:33%" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="1" oLabelText="Parte Trasera" @key="1" />

                <img src="/images/Cotizacion/left.png" alt="Fotos" style="display:block;margin:auto;width:33%" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="2" oLabelText="Lateral Izquierdo Completo (Lado Conductor)" @key="2" />

                <img src="/images/Cotizacion/right.png" alt="Fotos" style="display:block;margin:auto;width:33%" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="3" oLabelText="Lateral Derecho Completo (Lado Acompanante)" @key="3" />

                <img src="/images/Cotizacion/gncTubo.png" alt="Fotos" style="display:block;margin:auto;width:25%" />
                <FormularioImagenRow oAdjuntos="oAdjuntos" oAdjuntoID="4" oLabelText="Si tiene equipo GNC subir foto del cilindro si no dejar vacío" @key="4" />

                <label style="color:white;font-size: 0.8em;align-content:center">
                    EL VEHÍCULO DEBE ESTAR EN BUENAS CONDICIONES PARA PODER ASEGURARSE.
                    ADVERTENCIA: SI LAS FOTOS CARGADAS NO SON CORRECTAS O LEGIBLES, TE CONTACTAREMOS A LA BREVEDAD POSIBLE POR MAIL Y CELULAR. PARA QUE PUEDAS TOMAR LAS FOTOS CORRECTAS Y ENVIARLAS. DE NO HACERLO EL SEGURO LAMENTABLEMENTE QUEDARÁ SIN EFECTO .
                </label>
            }

        </div>
        <div class="form-group">
            <button class="btn btn-success" style="margin:5px" type="button" @onclick="@(() => OnClick())">Continuar</button>
        </div>
    </EditForm>
}

@if (partner.Whatsapp == string.Empty)
{
    <Cargando></Cargando>
}
else
{
    <a href="https://wa.me/541144406739?text=@partner.Whatsapp" title="Chat with Us" class="whatsapp" target="_blank" style="position:absolute; bottom:30px;right:30px">
        <img src="../images/whatsapp.png" style="margin-top:0px;margin-left:0px" height="48" width="48" />
    </a>
}

@code {


    AdjuntoDTO[] oAdjuntos = new AdjuntoDTO[5];
    Partner partner = new Partner();
    int oAdjuntoID;

    private string imagenTemporal;

    private CotizacionAutoDTO oCotizacionAutoDTO;
    [Parameter] public int oCoberturaID { get; set; }
    protected override async Task OnInitializedAsync()
    {


        #region Cotizacion

        string CotizacionAutoDTOJson = await JsRuntime.GetFromLocalStorage("CotizacionAutoDTO");
        oCotizacionAutoDTO = JsonSerializer.Deserialize<CotizacionAutoDTO>(CotizacionAutoDTOJson);

        oCotizacionAutoDTO.cotizacionID = 0;
        RespuestaCotizacionAutoDTO oRespuestaCotizacionAutoDTO;
        var responseHttp = await repositorio.Post<CotizacionAutoDTO, RespuestaCotizacionAutoDTO>("api/Externo/Prudencia/cotizaciones/autos", oCotizacionAutoDTO);
        if (responseHttp.Error)
        {
            var mensajeError = await responseHttp.GetBody();

            await mostrarMensajes.MostrarMensajeError(mensajeError);
            Console.WriteLine(mensajeError);
            navigationManager.NavigateTo("/ziren/infopersonalCompleta/" + oCoberturaID);
        }
        else
        {

            oRespuestaCotizacionAutoDTO = responseHttp.Response;
            oCotizacionAutoDTO.cotizacionID = oRespuestaCotizacionAutoDTO.cotizacionID;


        }


        #endregion





        #region Confirmacion

        int oCotizacionID = oCotizacionAutoDTO.cotizacionID;

        ConfirmacionCotizacionAutoDTO oConfirmacionCotizacionAutoDTO = new ConfirmacionCotizacionAutoDTO();
        oConfirmacionCotizacionAutoDTO.coberturaID = oCoberturaID;



        var responseHttp2 = await repositorio.Post<ConfirmacionCotizacionAutoDTO, RespuestaCotizacionAutoDTO>("api/Externo/Prudencia/cotizaciones/autos/" + oCotizacionID + "/confirmar", oConfirmacionCotizacionAutoDTO);
        if (responseHttp2.Error)
        {
            var mensajeError = await responseHttp2.GetBody();

            await mostrarMensajes.MostrarMensajeError(mensajeError);
            Console.WriteLine(mensajeError);
            navigationManager.NavigateTo("/ziren/infopersonalCompleta/" + oCoberturaID);
        }
        else
        {
            oRespuestaCotizacionAutoDTO = responseHttp2.Response;
            oCotizacionAutoDTO.cotizacionID = oRespuestaCotizacionAutoDTO.cotizacionID;

        }


        //COMENTAR PARA OBTNER UN 400
        CotizacionAutoDTOJson = JsonSerializer.Serialize(oCotizacionAutoDTO);
        await JsRuntime.SetInLocalStorage("CotizacionAutoDTO", CotizacionAutoDTOJson);
        #endregion

        oAdjuntos = new AdjuntoDTO[5];

        oAdjuntos[0] = new AdjuntoDTO();
        oAdjuntos[1] = new AdjuntoDTO();
        oAdjuntos[2] = new AdjuntoDTO();
        oAdjuntos[3] = new AdjuntoDTO();
        oAdjuntos[4] = new AdjuntoDTO();

        Console.WriteLine("cotizacionID IMA: " + oCotizacionAutoDTO.cotizacionID);

        #region busco datos del partner
        string partnerJson = await JsRuntime.GetFromLocalStorage("partner");
        partner = JsonSerializer.Deserialize<Partner>(partnerJson);
        #endregion
    }

    private async Task oOnValidSubmit()
    {

    }


    private async Task OnClick()
    {
        Console.WriteLine("111" + oAdjuntos[0].id);
        Console.WriteLine("222" + oAdjuntos[1].id);
        Console.WriteLine("333" + oAdjuntos[2].id);
        Console.WriteLine("444" + oAdjuntos[3].id);
        Console.WriteLine("555" + oAdjuntos[4].id);
        if (oCotizacionAutoDTO.vehiculo.es0KM == true)
        {
            if (oAdjuntos[0].id == 0 || oAdjuntos[1].id == 0)
            {
                var mensajeError = "Debe cargar los dos documentos";

                await mostrarMensajes.MostrarMensajeError(mensajeError);
                return;
            }

        }
        else
        {
            int oSumSinFoto = 0;

            if (oAdjuntos[0].id == 0)
                oSumSinFoto = oSumSinFoto + 1;
            if (oAdjuntos[1].id == 0)
                oSumSinFoto = oSumSinFoto + 1;
            if (oAdjuntos[2].id == 0)
                oSumSinFoto = oSumSinFoto + 1;
            if (oAdjuntos[3].id == 0)
                oSumSinFoto = oSumSinFoto + 1;
            if (oAdjuntos[4].id == 0)
                oSumSinFoto = oSumSinFoto + 1;

            if (oSumSinFoto > 1)
            {
                var mensajeError = "Debe cargar al menos 4 fotos";

                await mostrarMensajes.MostrarMensajeError(mensajeError);
                return;
            }
        }

        navigationManager.NavigateTo($"/ziren/Emision/{oAdjuntos[0].id}/{oAdjuntos[0].tipo}/{oAdjuntos[1].id}/{oAdjuntos[1].tipo}/{oAdjuntos[2].id}/{oAdjuntos[2].tipo}/{oAdjuntos[3].id}/{oAdjuntos[3].tipo}/{oAdjuntos[4].id}/{oAdjuntos[4].tipo}");






    }
}
