@*@page "/ziren/infopersonal/{marcaID:int}/{anoID:int}/{modeloID:int}/{provinciaID:int}"*@
@page "/ziren/infopersonal"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@inject BrowserService Service
@inject IJSRuntime JsRuntime
@using System.Text.Json;

<h3 style="color:white">Info Personal</h3>
<EditForm Model="marcaID">

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Nombre y Apellido</label>
            <div>
                <InputText @bind-Value="onombre" class="form-control" placeholder="Nombre y Apellido"></InputText>
            </div>
        </div>
        @*<div class="col-md-3">
                <label style="color:white">Patente</label>
                <div>
                    <InputText @bind-Value="opatente" class="form-control" placeholder="Patente"></InputText>
                </div>
            </div>*@
        <div class="col-md-3">
            <label style="color:white">Fecha de Nacimiento</label>
            <div>
                <InputDate class="form-control" @bind-Value="ofechaNacimiento"></InputDate>
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-5">
            <label style="color:white">Mail</label>
            <div>
                <InputText @bind-Value="omail" class="form-control" placeholder="Mail"></InputText>
            </div>
        </div>

        <div class="col-md-3">
            <label style="color:white">Celular</label>
            <div>
                <InputText @bind-Value="otelefono" class="form-control" placeholder="Sin 0 ni 15"></InputText>
            </div>
        </div>
    </div>

    <div class="row" style="margin:10px">
        <div class="col-md-3">
            <button type="button" class="btn btn-success" style="width:200px" @onclick="@(() => OnClickHandle())">Siguiente</button>
        </div>
    </div>
</EditForm>





@code {
    [Parameter] public int marcaID { get; set; }
    [Parameter] public int anoID { get; set; }
    [Parameter] public int modeloID { get; set; }
    [Parameter] public int provinciaID { get; set; }

    private string onombre;
    // private string ofechaNacimiento;
    private string omail;
    private string otelefono;
    private string opatente;

    private DateTime? ofechaNacimiento;
    private BrowserDimension browserDimension;
    protected override async Task OnInitializedAsync()
    {


        ofechaNacimiento = DateTime.Today.AddYears(-30);
        browserDimension = await Service.GetDimensions();


#if DEBUG
        onombre = "Alejandro Sosa";
        omail = "jm2@outlook.com.ar";
        otelefono = "1144406739";

#endif
        opatente = UtilidadesString.GetRandomString(6);
    }

    private async Task OnClickHandle()
    {
        if (string.IsNullOrEmpty(onombre) || string.IsNullOrEmpty(omail) || string.IsNullOrEmpty(otelefono) || string.IsNullOrEmpty(opatente))
        {
            var mensajeError = "Todos los campos son requeridos";
            await mostrarMensajes.MostrarMensajeError(mensajeError);
            return;
        }

        if (!(new System.ComponentModel.DataAnnotations.EmailAddressAttribute().IsValid(omail)))
        {
            var mensajeError = "El Mail debe ser Valido";
            await mostrarMensajes.MostrarMensajeError(mensajeError);
            return;
        }
        if (otelefono.Length < 10)
        {
            var mensajeError = "El Telefono debe ser Valido";
            await mostrarMensajes.MostrarMensajeError(mensajeError);
            return;
        }

        Int64 number;

        bool Isnumber = Int64.TryParse(otelefono, out number);
        if (!Isnumber)
        {
            var mensajeError = "El Telefono debe ser Solo Numerico";
            await mostrarMensajes.MostrarMensajeError(mensajeError);
            return;
        }


        string CotizacionAutoDTOJson = await JsRuntime.GetFromLocalStorage("CotizacionAutoDTO");
        CotizacionAutoDTO oCotizacionAutoDTO = JsonSerializer.Deserialize<CotizacionAutoDTO>(CotizacionAutoDTOJson);

        oCotizacionAutoDTO.asegurado.nombre = onombre;
        oCotizacionAutoDTO.asegurado.fechaNacimiento = ((DateTime)ofechaNacimiento).ToString("dd/MM/yyyy");
        oCotizacionAutoDTO.asegurado.mail = omail;
        oCotizacionAutoDTO.asegurado.telefono = otelefono;

        oCotizacionAutoDTO.vehiculo.patente = opatente;

        CotizacionAutoDTOJson = JsonSerializer.Serialize(oCotizacionAutoDTO);
        await JsRuntime.SetInLocalStorage("CotizacionAutoDTO", CotizacionAutoDTOJson);
        Console.WriteLine(CotizacionAutoDTOJson);

        SendEmail(oCotizacionAutoDTO.asegurado);
       
        if (browserDimension.Width > 768)
            navigationManager.NavigateTo("/ziren/CotizacionRapida");
        else
            navigationManager.NavigateTo("/ziren/CotizacionRapidaM");
    }


    private async Task SendEmail(AseguradoPatrimonialDTO asegurado)
    {
        string cotizacionEntitiesDTOJson = await JsRuntime.GetFromLocalStorage("CotizacionEntitiesDTO");
        CotizacionEntitiesDTO cotizacionEntitiesDTO = JsonSerializer.Deserialize<CotizacionEntitiesDTO>(cotizacionEntitiesDTOJson);
        #region Send Email




        #region MyRegion

        System.Text.StringBuilder sHtml = new System.Text.StringBuilder();
        string CeldaBegin = "<tr><td align='left'>";
        string CeldaEnd = "</td></tr>";


        sHtml.Append("<HTML style='height: 100 %;margin: 0;background-image: radial-gradient(circle, #803496, #70288d, #5f1c83, #4e107a, #3c0371);'><body >");
        sHtml.Append("<table border='0' align='center'>");
        sHtml.Append(CeldaBegin);

        sHtml.Append("Nombre : " + asegurado.nombre);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Mail : " + asegurado.mail);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Tel : " + asegurado.telefono);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Fec.Nac : " + asegurado.fechaNacimiento);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("C.P. : " + asegurado.codigoPostal);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Marca : " + cotizacionEntitiesDTO.marcasAutos.descripcion);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Modelo : " + cotizacionEntitiesDTO.modelosAutos.descripcionGrupo);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Version : " + cotizacionEntitiesDTO.versionesAutos.descripcion);
        sHtml.Append(CeldaEnd);

        sHtml.Append(CeldaBegin);
        sHtml.Append("Ano : " + cotizacionEntitiesDTO.ano);
        sHtml.Append(CeldaEnd);



        sHtml.Append(CeldaBegin);

        sHtml.Append("<img src='https://cotice.ziren.com.ar/images/icon-192.png' width='100'  />");
        sHtml.Append("<img src='https://cotice.ziren.com.ar/images/LogoPrudencia.png' width='200'  />");
        sHtml.Append(CeldaEnd);

        sHtml.Append("</table></body></HTML>");


        #endregion

        string oSubject = "Ziren Cotizador=> Nueva Consulta!!!";

        MailApp oMailApp = new MailApp();
        oMailApp.To = "adriel@ziren.com.ar";
        //oMailApp.Bcc = "jm2@outlook.com.ar";
        oMailApp.Body = sHtml.ToString();
        oMailApp.Subject = oSubject;

        var responseHttp = await repositorio.Post<MailApp, string>("api/Externo/Prudencia/SendMail", oMailApp);

        if (responseHttp.Error)
        {
            Console.WriteLine("No se pudo enviar el mail con los enlaces para la poliza");

        }
        else
        {
            Console.WriteLine("Se le envio un mail con los enlaces para la poliza");
        }







        #endregion
    }
}
