@page "/admin/Vendedores/{productorId:int}/{Url}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime
@using System.Text.Json;
<h3 style="color:white">Vendedores(Productor @Url)</h3>


<div class="form-group">
    <a class="btn btn-success" href="vendedor/Crear/@productorId/@Url">Vendedor Nuevo</a>
 </div>
@if (vendedorList == null)
{
    <Cargando></Cargando>
}
else
{
    @if (vendedorList.Count == 0)
    {
        <label style="color:white">No hay registros para mostrar</label>
    }
    else
    {
        <div style="display: flex; flex-wrap: wrap; align-items: center;">


            @foreach (var vendedor in vendedorList)
            {

                <div style="margin-right: 2%; margin-bottom: 10px; text-align: center;border:solid;border-color:lightgrey;border-width:thin;border-radius:5px;padding:5px">
                    <a >
                        <img src="data:image/jpeg;base64, @vendedor.Logo" alt="Poster" style="width: 112px; height:150px;" />
                    </a>
                    @*<div>
                        <a class="btn btn-warning" style="margin:3px" href="/admin/Organizadores/@vendedor.VendedorId">Vendedores</a>
                    </div>*@
                    <div>
                        <a class="btn btn-info" style="margin:3px" href="vendedor/editar/@vendedor.VendedorId/@Url">Editar</a>
                        <button @onclick="@(() => BorrarVendedor(vendedor))" class="btn btn-danger">Borrar</button>
                    </div>
                </div>


            }
        </div>


      


    }

}


@code {

    [Parameter] public int productorId { get; set; }
    [Parameter] public string Url { get; set; }
    private List<Grupo> grupoList;
    private Grupo grupo = new Grupo();

    private List<Organizador> organizadorList = new List<Organizador>();
    private Organizador organizador = new Organizador();

    private List<Productor> productorList = new List<Productor>();
    private Productor productor = new Productor();

    private List<Vendedor> vendedorList ;
    private Vendedor vendedor = new Vendedor();


    private CotizacionAutoDTO oCotizacionAutoDTO;

    protected override async Task OnInitializedAsync()
    {

        await Cargar();

    }




    protected override async Task OnParametersSetAsync()
    {



    }


    private async Task OnClickHandle(int omarcaID)
    {




        navigationManager.NavigateTo("/ziren/ano");

    }

    private async Task MarcaKeyUp(KeyboardEventArgs e)
    {




    }
    private async Task Cargar()
    {
        var responseHttp = await repositorio.Get<List<Vendedor>>("api/Vendedores/GetByProductorId/" + productorId);
        vendedorList = responseHttp.Response;
    }
    private async Task BorrarVendedor(Vendedor vendedor)
    {
        var responseHttp = await repositorio.Delete($"api/Vendedores/{vendedor.VendedorId}");
        if (responseHttp.Error)
        {
            Console.WriteLine(responseHttp.HttpResponseMessage.StatusCode);
            await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
        }
        else
        {
            await Cargar();
        }

    }
}
