@page "/productor/crear/{organizadorId:int}/{Url}"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject IMostrarMensajes mostrarMensajes

<h3 style="color:white">Crear Productor (de @Url)</h3>

<FormProductor productor="productor" oOnValidSubmit="Crear"></FormProductor>
@code {

    [Parameter] public int organizadorId { get; set; }
    [Parameter] public string Url { get; set; }
    private Productor productor = new Productor();
    protected override async Task OnInitializedAsync()
    {
        productor.Ajuste = 20;
    }

    private async Task Crear()
    {
        #region Valido Form
        if (string.IsNullOrEmpty(productor.Url) || string.IsNullOrEmpty(productor.Nombre) || string.IsNullOrEmpty(productor.Apellido) || string.IsNullOrEmpty(productor.Dni)
            || string.IsNullOrEmpty(productor.Matricula) || string.IsNullOrEmpty(productor.Mail) || string.IsNullOrEmpty(productor.Celular1) || string.IsNullOrEmpty(productor.Domicilio)
            || string.IsNullOrEmpty(productor.Localidad) || string.IsNullOrEmpty(productor.Logo) || string.IsNullOrEmpty(productor.Whatsapp))
        {

            await mostrarMensajes.MostrarMensajeError("Los Campos => Url, Nombre, Apellido, Dni, Matricula, Mail, Celular1, Domicilio," +
                " Localidad, Logo y Whatsapp son Obligatorios");
            return;
        }
        #endregion
        productor.OrganizadorId = organizadorId;
        var httpResponse = await repositorio.Post("api/Productores", productor);


        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();

            await mostrarMensajes.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            //  await mostrarMensajes.MostrarMensajeExitoso(await httpResponse.GetBody());
            navigationManager.NavigateTo("/admin/Grupos");
        }
    }
}
