@page "/Organizador/editar/{organizadorId:int}/{Url}"
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensaje
@inject NavigationManager navigationManager

<h3 style="color:white">Editar Grupo</h3>

@if (organizador == null)
{
    <text>Cargando...</text> }
else
{
    <FormOrganizador organizador="organizador" oOnValidSubmit="Editar"></FormOrganizador>
}
@code {
    [Parameter] public int organizadorId { get; set; }
    [Parameter] public string Url { get; set; }
    private Organizador organizador;

    protected override async Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<Organizador>("api/Organizadores/" + organizadorId);
        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Grupos");
            }
            else
            {
                await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
            }
        }
        else
        {
            organizador = httpResponse.Response;
        }



    }
    private async Task Editar()
    {
        #region Valido Form
        if (string.IsNullOrEmpty(organizador.Url) || string.IsNullOrEmpty(organizador.Nombre) || string.IsNullOrEmpty(organizador.Apellido) || string.IsNullOrEmpty(organizador.Dni)
            || string.IsNullOrEmpty(organizador.Matricula) || string.IsNullOrEmpty(organizador.Mail) || string.IsNullOrEmpty(organizador.Celular1) || string.IsNullOrEmpty(organizador.Domicilio)
            || string.IsNullOrEmpty(organizador.Localidad) || string.IsNullOrEmpty(organizador.Logo) ||  string.IsNullOrEmpty(organizador.Whatsapp))
        {

            await mostrarMensaje.MostrarMensajeError("Los Campos => Url, Nombre, Apellido, Dni, Matricula, Mail, Celular1, Domicilio," +
                " Localidad, Logo y Whatsapp son Obligatorios");
            return;
        }
        #endregion
        #region Checkeo si ya existe la URL
        var httpResponse2 = await repositorio.Post<Organizador, bool>("api/ZirenHeads/YaExisteUrl", organizador);
        if (httpResponse2.Response == true)
        {
            await mostrarMensaje.MostrarMensajeError("Error : La url ya existe");
            return;
        }
        #endregion

        var httpResponse = await repositorio.Put("api/Organizadores/" + organizador.OrganizadorId, organizador);
        if (httpResponse.Error)
        {
            await mostrarMensaje.MostrarMensajeError(await httpResponse.GetBody());
        }
        else
        {
            navigationManager.NavigateTo("/admin/Grupos");
        }
    }
}
