
<div style="height: 400px;display: flex;align-items: flex-start;">
    <div style="margin-top:100px">
        <text style="color:white">Cargando.....</text>
        <span style="display: inline-block;margin-right: 5px;">
            <img src="/images/wait.gif" style="width: 25px; height: 25px" />
        </span>
    </div>
</div>




@*<div class="h-100 d-inline-block" >*@
@*<img src="../images/LogoPrudencia.png" class="mh-100" />*@
@*</div>*@
@*<img src="../images/LogoPrudencia.png" style="width: 400px; height: 400px" />*@
