@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-image: url('../images/fondo.png'); margin: 0;">

    <div class="top-row px-4">
    
        @*<i class="oi oi-target ml-md-auto" aria-hidden="true"></i>*@
        <a class="ml-md-auto">®</a>
    </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
