@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@


@*<div class="main" style="background-image: url('../images/fondo.png');margin: 0;position: absolute;top: 0;bottom: 0;height: 100vh;width: 100vw;">*@
<div class="main" style="background-image: radial-gradient(circle, #803496, #70288d, #5f1c83, #4e107a, #3c0371); margin: 0; position: absolute; top: 0; bottom: 0; height: 100vh; width: 100vw; ">

    <div class="top-row px-4">

            <div style="text-align: right">
            <img  src="/images/logo.png" align="right" class="img-fluid" style="width:60px" />
            </div>

            <div style="text-align: right;justify-content:right;margin-left:50px;font-size:small">Version 21.12.5.1</div>





        </div>

    @* <div class="content px-4"> *@
    @Body
    @*</div>*@
</div>



